<nav class="navbar navbar-expand-lg navbar-dark bg-white  ">
    <div class="container ">
        <h3 style="font-weight: bolder;">SIFT</h3>
        <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item pe-lg-4"><a class="nav-link" href="index.html">Blog</a></li>
                <li class="nav-item pe-lg-4"><a class="nav-link" href="about.html">Resources</a></li>
                <li class="nav-item pe-lg-4"><a class="nav-link" href="contact.html">Press</a></li>
                <li class="nav-item pe-lg-4"><a class="nav-link" href="pricing.html">FAQ</a></li>
                <li class="nav-item pe-lg-4"><a class="nav-link" href="faq.html">Login</a></li>
                <li><button style="color: aqua; border: 2px solid aqua; font-weight: bolder;" class="btn">Get sift app</button></li>
            </ul>
        </div>
    </div>
</nav><br>