<br><nav class="navbar navbar-expand-lg">
<div class="container-fluid">
    <h3 class="e3">SIFT</h3>
    <div class="c9">
        <ul class="ms-auto mb-2 mb-lg-0 navbar-nav">
            <li><a class="nav-link" href="index.html">Privacy policy</a></li>
            <li><a class="nav-link" href="index.html">Terms of use</a></li>
            <li><a class="nav-link" href="index.html">About</a></li>
            <li><a class="nav-link" href="index.html">Contact</a></li>

        </ul>
    </div>
</div></nav>