
<footer class="footer py-4 mt-auto">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <h3 class="e3">𝙎𝙄𝙁𝙏</h3>
            </div>
            <div class="col-auto">
                <a class="pe-4"  href="#!">Privacy policy</a>
                <a class="pe-4" href="#!">Terms of use</a>
                <a class="pe-4" href="#!">About</a>
                <a class="pe-4" href="#!">Contact</a>

            </div>
        </div>
    </div>
</footer>
<div class=" pb-5 mt-auto">
    <div class="container-fluid ">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class=""> &copy; 2020 sift wallet</div>
            </div>
            <div class="col-auto">
                <a class="me-4" href="#!"><i class="fa-brands fa-facebook-f"></i></a>
                <a class="me-4" href="#!"><i class="fa-brands fa-linkedin-in"></i></a>
                <a class="me-4" href="#!"><i class="fa-brands fa-twitter"></i></a>
                <a class="me-4" href="#!"><i class="fa-solid fa-m"></i></a>
                <a class="" href="#!"><i class="fa-brands fa-instagram"></i></a>


            </div>
        </div>
    </div>
</div>