hr{
    color: black ;
    border-top: 2px solid black;
}
.w1{
    font-weight: bolder;
    text-align: center;
}
.w2{
    justify-content: center;
}
.rr{
    font-size: small;
}
/* .dd{
    text-decoration: 1px underline;
} */
.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.a1{
    font-weight: bold;
}
.card{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.w3{
    color: aqua;
}
.k3{
    height: 90%;
    width: 90%;
}
.ns{
    position: relative;
    animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
@keyframes example {
    from {top: 200px;}
    to {top: 0px;}
  }

  .sn{
    position: relative;
    animation-name: example1;
  animation-duration: 3s;  
  animation-fill-mode: forwards; 
  }
  @keyframes example1 {
    from {bottom: 200px;}
    to {bottom: 0px;}
  }
.sw1{
    background-image: url("https://i.postimg.cc/XYRzg0Cs/image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    background-size: 100% 100%;    /* padding-top: 100px; */
}