<div class="py-5 mt-2">
    <div class="container ">
        <div class="row  align-items-center justify-content-center">
            <div class="col-lg-4 col-xl-7 col-xxl-6">
                <div class="text-center text-xl-start">
                    <img src="https://i.postimg.cc/CLZp7KPc/image.png" alt="">
                </div>
                <div class="my-5 text-center text-xl-start">
                    <p style="font-weight: bolder;">Make $$$ From Your Friend's Spending With</p>
                    <h3 class="text-success sn" style=" font-weight: bolder;">Swift's cashback referal program</h3>
                    <p>Sift offers cash back from shopping at 15,000 thousan retailers.
                        Noe, with our referral program you can make money
                        off of your friends’ spending too!</p>
                   
                </div>
            </div>
            <div class="col-xl-5  col-xxl-6 d-none d-xl-block text-center ns"><img class="img-fluid "
                    src="https://i.postimg.cc/GhrdLRqK/image.png" alt="..." /></div>
        </div>
    </div>
</div>

<hr style="font-weight: bolder;" class="container">

<div style="text-align: center;" class="container pt-3">
    <h3 class="w1 py-4">HERE'S HOW IT WORKS</h3>
    <p class="w2">We’ll provide you with a tracking link to send to your network (whether it be friends, readers, or
        other audiences). When a user is referred by you they will download the app and enable Sift cashback in the app.
        At that point you’ll earn $$$ every time a referred user earns cashback
        commissions. Track your earnings in your earnings dashboard!!</p>
    <button class="btn btn-success">Read More</button>
</div>

<section class="sw1 my-5" id="scroll-target">
    <div class="container my-5">
        <div class="row  align-items-center">
            <div class="col-lg-6 ss "><img class="img-fluid ss rounded mb-5 mb-lg-0"
                    src="https://i.postimg.cc/qqxCgdSK/image.png" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">What is swift <span class="text-success">Cashbacks ?</span></h2>
                <p style="font-size:small;">Sift Cashback Rewards offers an easy way to earn cash-back just by shopping
                    at your favorite online
                    stores. Simply follow the instructions to enable Sift Rewards in your phone settings and shop online
                    at your favorite stores just like you normally would.

                    Every time you shop at one of our eligible 15,000+ online stores, you&#39;ll automatically make a
                    little extra cash for yourself. Or search for products on Google and we’ll tell you which stores
                    offer the most cash back for that product so you can make sure to receive the maximum rewards
                    possible. Download today, it’s easy!</p>
            </div>
        </div>
    </div>







    <div class="container  ">
        <div class="row  align-items-center">
            <div class="col-lg-7 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                    src="https://i.postimg.cc/x1jkdh0r/image.png" alt="..." /></div>
            <div class="col-lg-5">
                <h3>How to activate and earn</h3>
                <h3 class="text-success">Cashback Rewards</h3>
                <p class="rr">Sift Cashback Rewards is a feature that is enabled within the Sift app. Download the app
                    from the Google Play or Apple store and you’ll be walked through how to enable cash back in your
                    phone’s settings. Once you’ve enabled the extension you can simply start shopping like you always do
                    and you’llreceive a notification whenever you visit a retailer website that offers cash back on your
                    purchases.</p>

                <p class="rr"> Check the earnings dashboard as you make purchases and track how much in commissions
                    you’ve earned. From time to time we’ll also bring your attention to certain retailers that are
                    offering especially attractive cashback deals.</p>
                <!-- <h2 class="fw-bolder">Growth &amp; beyond</h2> -->
                <!-- <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p> -->
            </div>
        </div>
    </div>
</section>


<section style="background-color: rgb(247, 250, 253);" class=" pb-5">
    <div class="container  pt-3">
        <div class="text-center ">
            <h3 class="dd" style="font-weight: bold; text-decoration: underline dotted black;">
                Referal program benefits
            </h3>
            <p class="pt-3">Our program is designed to make you the most $$$ possible for minimal effort. Once you refer
                friends that enable Sift Cashback Rewards your friends do the work for you. As they make $$$ from their
                shopping you will too. So, the more friends you refer, the more $$$ you make. In addition, your friends
                can make $$$ too by referring their friends – it’s a winning program for everyone! Participants receive
                the following benefits:</p>
        </div>
    </div>
    <div class="container text-center pt-4">
        <div class="row  ">
            <div class="col-lg-4">
                <div class="card mx-auto mt-4" style="width: 18rem; height: 14rem;">
                    <img style="height: 80px; width: 80px; align-items: center;"
                        src="https://i.postimg.cc/9F9b2HK1/image.png" class="card-img-top pb-2" alt="...">
                    <div class="card-body">
                        <p class="card-text">Users can <span class="a1"> Refer their Friends </span>and every time their
                            friends earn $3 cashback using Sift Cashback,they will get $1 into their account.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mx-auto mt-4" style="width: 18rem; height: 14rem;">
                    <img style="height: 80px; width: 80px; align-items: center;"
                        src="https://i.postimg.cc/43T5823y/image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">The <span class="a1"> Referred Users </span> will have $5 pre-loaded in
                            their account.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mx-auto mt-4" style="width: 18rem; height: 14rem;">
                    <img style="height: 80px; width: 80px; align-items: center;"
                        src="https://i.postimg.cc/jSWfzHQ5/image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Users who refer their friends who are not a Sift user, will receive an
                            <span class="a1"> Additional $3 Cashback </span> for
                            the first $3 earned by their referrals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><br>



<div class="container-fluid  ">
    <div class="row  align-items-center">
        <div class="col-lg-7 pe-3 px-0"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://i.postimg.cc/X7GrDwXy/image.png"
                alt="..." /> </div>
        <div class="col-lg-5">
            <div class="image1 pb-3">
                <img src="https://i.postimg.cc/NGpg7L42/image.png" alt=""> <span class="text-success ">app available on</span>
            </div>
            <div>
                <h3>Ios and Android</h3>
                <p>This is a great way to save money, the easy way, and can add up to a large wad of cash with time.</p>
            </div>
            <div class="row">
                <div class="col-6 p-0 ">
                    <img class="k3" src="https://i.postimg.cc/7hMxJMVf/image.png" alt="">
                </div>
                <div class="col-6 p-0">
                    <img class="k3" src="https://i.postimg.cc/7hMxJMVf/image.png" alt="">

                </div>
            </div>



        </div>
    </div>
</div><br><br>


<div class="container">
    <p style="font-size: smaller;">
        Advertiser Disclosure: Sift has partnered with CardRatings for our coverage of credit card products. Sift and
        CardRatings may receive a commission from card issuers. Opinions, reviews, analyses & recommendations are the
        author’s alone, and have not been reviewed, endorsed or approved by any of these entities.
    </p>
</div>